Bitwarden
BraveSoftware/Brave-Browser
Cryptomator
autostart
btop
caja
clash-verge
dconf
doom.bak
emacs
enchant
evolution/sources
fontforge
gtk-3.0/bookmarks
hexchat
ibus
lazygit
mate
menus
pulse
qpdfview
qt5ct
volumeicon
xed
xournalpp
xyz.yetone.apps.openai-translator
QtProject.conf
user-dirs.locale
dleyna-server-service.conf
nvim/lazy-lock.json
zsh/.zcompdump
Code
Thunar
Typora
xfce4
konsolerc
Electron
balena-etcher
clash
kdeconnect
libreoffice/4/user
session
vlc
xarchiver
Bitwarden CLI
gtk-4.0
kde.org
kdedefaults
libaccounts-glib
xsettingsd
PlasmaDiscoverUpdates
Trolltech.conf
akregatorrc
bluedevilglobalrc
discoverrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kmixrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
systemsettingsrc
xdg-desktop-portal-kderc
Kvantum
arcolinux-welcome-app
cinnamon/spices
conky
galculator
htop
nano
nemo
nomacs
paru
thefuck
variety
X-Cinnamon-xdg-terminals.list
konsolesshconfig
xdg-terminals.list
yad.conf
Google/AndroidStudio2022.3
VirtualBox
mimeapps.list
Logseq
Min
fcitx/dbus
fcitx5
flameshot
goldendict
inkscape
pamac
qv2ray
vocal/database
