Bitwarden
BraveSoftware/Brave-Browser
Cryptomator
autostart
btop
caja
clash-verge
dconf
doom.bak
emacs
enchant
evolution/sources
fontforge
gtk-3.0/bookmarks
hexchat
ibus
lazygit
mate
menus
pulse
qpdfview
qt5ct
volumeicon
xed
xournalpp
xyz.yetone.apps.openai-translator
QtProject.conf
user-dirs.locale
mimeapps.list
dleyna-server-service.conf
nvim/lazy-lock.json
zsh/.zcompdump
Code
Thunar
Typora
xfce4
konsolerc
Electron
balena-etcher
clash
kdeconnect
libreoffice/4/user
session
vlc
xarchiver
