*.html

Bitwarden
BraveSoftware/Brave-Browser
Cryptomator
autostart
btop
caja
clash-verge
dconf
doom.bak
enchant
evolution/sources
fontforge
gtk-3.0/bookmarks
hexchat
ibus
lazygit
mate
menus
pulse
qpdfview
qt5ct
volumeicon
xed
xournalpp
xyz.yetone.apps.openai-translator
QtProject.conf
user-dirs.locale
dleyna-server-service.conf
nvim/lazy-lock.json
zsh/.zcompdump
Code
Thunar
Typora
xfce4
konsolerc
Electron
balena-etcher
clash
kdeconnect
libreoffice/4/user
session
vlc
xarchiver
Bitwarden CLI
gtk-4.0
kde.org
kdedefaults
libaccounts-glib
xsettingsd
PlasmaDiscoverUpdates
Trolltech.conf
akregatorrc
bluedevilglobalrc
discoverrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kmixrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
systemsettingsrc
xdg-desktop-portal-kderc
Kvantum
arcolinux-welcome-app
cinnamon/spices
conky
galculator
htop
nano
nemo
nomacs
paru
thefuck
variety
X-Cinnamon-xdg-terminals.list
konsolesshconfig
xdg-terminals.list
yad.conf
Google/AndroidStudio2022.3
VirtualBox
mimeapps.list
Logseq
Min
fcitx/dbus
fcitx5
flameshot
goldendict
inkscape
pamac
qv2ray
vocal/database
README.html
pavucontrol.ini
.avalonia-build-tasks
.mono/keypairs
GIMP/2.10
JetBrains
KDE
KeePass
QtProject
archlinux-logout
archlinux-tweak-tool
clangd
cmus
cumulonimbus
dwm/.idea
emacs/auto-save-list
emacs/eaf
emacs/elpa
emacs/elpaca
emacs/url
emacs/transient/history.el
emacs/projectile-bookmarks.eld
emacs/recentf
emacs/sessions
emacs.bak
fish
gnome-control-center/backgrounds
gtk-2.0
keepassxc
nvim-bak
nvim-previous
powerkit
spotify
wezterm
.gsd-keyboard.settings-ported
baloofileinformationrc
baloofilerc
elisarc
kewrc
kwinoutputconfig.json
outline.lua
plasma-welcomerc
trashrc
emacs/eln-cache/28.2-439a32cd
mihomo
syncthing
totem
gnome-initial-setup-done
cef_user_data/WidevineCdm
emacs/eln-cache/29.2-623ad7f7
systemd/user/default.target.wants
GNOME-xdg-terminals.list
bluestone
emacs/session.102886648fe127164171116438759786000000020440075
glib-2.0/settings
imsettings
marktext
nautilus
sealert.conf
VNote/VNote
cinnamon/backgrounds
suyu
cinnamon-monitors.xml~
emacs.mine/auto-save-list
emacs.mine/eln-cache/29.2-623ad7f7
emacs.mine/elpaca
emacs.mine/url/cache/fed/http/com/bing/cn
emacs.mine/projectile-bookmarks.eld
emacs.mine/recentf
emacs.mine/session.102886648fe127164171116438759786000000020440075
emacs.mine/sessions
Motrix
haruna
netease-musicbox
touchegg
BraveSoftware/Brave-Browser-Beta
bleachbit
chromium-backup
deluge
environment.d
falkon/profiles
garuda
gedit
micro
mpv
pacseek
psd
smplayer
chromium
starship.toml
